﻿<%@  Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs"  
Inherits="webapp.index" %>  
<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head runat="server">  
<title></title>  
</head>  
<body>  
<form id="form1" runat="server">  
<div>  
<h2>Hello world</h2>  
</div>  
    <asp:Label ID="lblWelcome" runat="server" Text="Label"></asp:Label>
    <asp:Label ID="Label1" runat="server" Text="Label"> !!! this is rerun#16</asp:Label>
</form>  
</body>  
</html>  